*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Garder les bibliothèques de cathy :
!itextpdf-5.4.4-javadoc.jar
!itextpdf-5.4.4.jar
!itextpdf-5.4.4-sources.jar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.springBeans

pom.xml

src/main/resources/log4j.xml

.classpath
